<!DOCTYPE html>
<html xlmns="www.thymlef.org">

<head>
	<title></title>
	<th:block th:include="layout::mainhead">
	</th:block>
</head>

<body>
	<header th:insert="layout::navbar">
	</header>
	<div>

		<form method="post" th:object="${user}" th:action="@{/register}">
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Name</label>
				<input type="text" class="form-control" id="name" aria-describedby="nameHelp">

				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Contact</label>
					<input type="text" class="form-control" id="contact" aria-describedby="contact">

					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Email</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</body>

</html>